<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Index antigo</th>
      <th>Discipline</th>
      <th>Male</th>
      <th>Female</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>4</td>
      <td>Athletics</td>
      <td>1072</td>
      <td>969</td>
    </tr>
    <tr>
      <th>1</th>
      <td>5</td>
      <td>Badminton</td>
      <td>87</td>
      <td>86</td>
    </tr>
    <tr>
      <th>2</th>
      <td>6</td>
      <td>Baseball/Softball</td>
      <td>144</td>
      <td>90</td>
    </tr>
    <tr>
      <th>3</th>
      <td>9</td>
      <td>Boxing</td>
      <td>187</td>
      <td>102</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11</td>
      <td>Canoe Sprint</td>
      <td>126</td>
      <td>123</td>
    </tr>
    <tr>
      <th>5</th>
      <td>15</td>
      <td>Cycling Road</td>
      <td>131</td>
      <td>70</td>
    </tr>
    <tr>
      <th>6</th>
      <td>16</td>
      <td>Cycling Track</td>
      <td>99</td>
      <td>90</td>
    </tr>
    <tr>
      <th>7</th>
      <td>18</td>
      <td>Equestrian</td>
      <td>125</td>
      <td>73</td>
    </tr>
    <tr>
      <th>8</th>
      <td>19</td>
      <td>Fencing</td>
      <td>108</td>
      <td>107</td>
    </tr>
    <tr>
      <th>9</th>
      <td>20</td>
      <td>Football</td>
      <td>344</td>
      <td>264</td>
    </tr>
    <tr>
      <th>10</th>
      <td>24</td>
      <td>Judo</td>
      <td>201</td>
      <td>192</td>
    </tr>
    <tr>
      <th>11</th>
      <td>25</td>
      <td>Karate</td>
      <td>42</td>
      <td>40</td>
    </tr>
    <tr>
      <th>12</th>
      <td>29</td>
      <td>Rowing</td>
      <td>265</td>
      <td>257</td>
    </tr>
    <tr>
      <th>13</th>
      <td>30</td>
      <td>Rugby Sevens</td>
      <td>151</td>
      <td>146</td>
    </tr>
    <tr>
      <th>14</th>
      <td>36</td>
      <td>Swimming</td>
      <td>418</td>
      <td>361</td>
    </tr>
    <tr>
      <th>15</th>
      <td>39</td>
      <td>Tennis</td>
      <td>97</td>
      <td>94</td>
    </tr>
    <tr>
      <th>16</th>
      <td>43</td>
      <td>Water Polo</td>
      <td>146</td>
      <td>122</td>
    </tr>
    <tr>
      <th>17</th>
      <td>44</td>
      <td>Weightlifting</td>
      <td>99</td>
      <td>98</td>
    </tr>
    <tr>
      <th>18</th>
      <td>45</td>
      <td>Wrestling</td>
      <td>193</td>
      <td>96</td>
    </tr>
  </tbody>
</table>