<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Index antigo</th>
      <th>Discipline</th>
      <th>Male</th>
      <th>Female</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>3</td>
      <td>Artistic Swimming</td>
      <td>0</td>
      <td>105</td>
    </tr>
    <tr>
      <th>1</th>
      <td>12</td>
      <td>Cycling BMX Freestyle</td>
      <td>9</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>17</td>
      <td>Diving</td>
      <td>71</td>
      <td>72</td>
    </tr>
    <tr>
      <th>3</th>
      <td>28</td>
      <td>Rhythmic Gymnastics</td>
      <td>0</td>
      <td>96</td>
    </tr>
  </tbody>
</table>