<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Discipline</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Basketball</td>
      <td>74</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Artistic Swimming</td>
      <td>69</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Football</td>
      <td>59</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Hockey</td>
      <td>45</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Volleyball</td>
      <td>45</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Handball</td>
      <td>29</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Baseball/Softball</td>
      <td>26</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Rugby Sevens</td>
      <td>25</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Water Polo</td>
      <td>22</td>
    </tr>
  </tbody>
</table>