<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Discipline</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Athletics</td>
      <td>2068</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Swimming</td>
      <td>743</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Football</td>
      <td>567</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Rowing</td>
      <td>496</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Hockey</td>
      <td>406</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Judo</td>
      <td>373</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Handball</td>
      <td>343</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Shooting</td>
      <td>342</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Sailing</td>
      <td>336</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Rugby Sevens</td>
      <td>283</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Basketball</td>
      <td>280</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Wrestling</td>
      <td>279</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Volleyball</td>
      <td>274</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Boxing</td>
      <td>270</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Water Polo</td>
      <td>269</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Fencing</td>
      <td>249</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Equestrian</td>
      <td>237</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Canoe Sprint</td>
      <td>236</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Baseball/Softball</td>
      <td>220</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Cycling Track</td>
      <td>208</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Cycling Road</td>
      <td>190</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Artistic Gymnastics</td>
      <td>187</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Weightlifting</td>
      <td>187</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Tennis</td>
      <td>178</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Table Tennis</td>
      <td>164</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Badminton</td>
      <td>164</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Diving</td>
      <td>133</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Taekwondo</td>
      <td>123</td>
    </tr>
    <tr>
      <th>28</th>
      <td>Archery</td>
      <td>122</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Golf</td>
      <td>115</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Triathlon</td>
      <td>106</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Artistic Swimming</td>
      <td>98</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Rhythmic Gymnastics</td>
      <td>95</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Beach Volleyball</td>
      <td>90</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Canoe Slalom</td>
      <td>78</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Skateboarding</td>
      <td>77</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Karate</td>
      <td>77</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Cycling Mountain Bike</td>
      <td>74</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Modern Pentathlon</td>
      <td>69</td>
    </tr>
    <tr>
      <th>39</th>
      <td>3x3 Basketball</td>
      <td>62</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Marathon Swimming</td>
      <td>49</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Cycling BMX Racing</td>
      <td>43</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Surfing</td>
      <td>38</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Sport Climbing</td>
      <td>37</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Trampoline Gymnastics</td>
      <td>31</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Cycling BMX Freestyle</td>
      <td>19</td>
    </tr>
  </tbody>
</table>