<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Discipline</th>
      <th>Event</th>
    </tr>
    <tr>
      <th>NOC</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Angola</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Argentina</th>
      <td>Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Baseball/Softball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Cycling Track</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Football</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Swimming</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Australia</th>
      <td>Water Polo</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Austria</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Austria</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Austria</th>
      <td>Table Tennis</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Austria</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Azerbaijan</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Bahamas</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Bahrain</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Bangladesh</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belarus</th>
      <td>Swimming</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>Athletics</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>Cycling Track</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>Hockey</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Belgium</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Botswana</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Athletics</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Beach Volleyball</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Football</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Handball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Swimming</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Table Tennis</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Brazil</th>
      <td>Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Bulgaria</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Baseball/Softball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Cycling Track</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Fencing</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Hockey</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Swimming</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Canada</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Chile</th>
      <td>Beach Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Chile</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Chinese Taipei</th>
      <td>Archery</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Chinese Taipei</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Chinese Taipei</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Colombia</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Colombia</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Colombia</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Croatia</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Croatia</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cuba</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cuba</th>
      <td>Beach Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Cuba</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Czech Republic</th>
      <td>Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Côte d'Ivoire</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Denmark</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Denmark</th>
      <td>Cycling Track</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Denmark</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Denmark</th>
      <td>Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Dominican Republic</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Dominican Republic</th>
      <td>Baseball/Softball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Dominican Republic</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ecuador</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Fencing</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Egypt</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Estonia</th>
      <td>Fencing</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Fiji</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>France</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Athletics</td>
      <td>4</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Cycling Track</td>
      <td>4</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Fencing</td>
      <td>4</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Handball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Swimming</td>
      <td>5</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>France</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Artistic Gymnastics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Athletics</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Beach Volleyball</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Cycling Track</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Fencing</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Swimming</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Germany</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ghana</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Archery</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Artistic Gymnastics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Athletics</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Cycling Track</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Swimming</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Great Britain</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>Swimming</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Greece</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Honduras</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Hong Kong, China</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Hong Kong, China</th>
      <td>Fencing</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Hong Kong, China</th>
      <td>Swimming</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Hong Kong, China</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>Fencing</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>Swimming</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>Table Tennis</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Hungary</th>
      <td>Water Polo</td>
      <td>2</td>
    </tr>
    <tr>
      <th>India</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>India</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>India</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>India</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Indonesia</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ireland</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ireland</th>
      <td>Cycling Track</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ireland</th>
      <td>Hockey</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ireland</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ireland</th>
      <td>Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Islamic Republic of Iran</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Islamic Republic of Iran</th>
      <td>Fencing</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Islamic Republic of Iran</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>Baseball/Softball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Israel</th>
      <td>Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Athletics</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Baseball/Softball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Beach Volleyball</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Cycling Track</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Fencing</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Swimming</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Italy</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Jamaica</th>
      <td>Athletics</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>3x3 Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Archery</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Artistic Gymnastics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Athletics</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Baseball/Softball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Fencing</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Football</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Handball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Swimming</td>
      <td>7</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Japan</th>
      <td>Water Polo</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Kazakhstan</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Kazakhstan</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Kazakhstan</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Kenya</th>
      <td>Beach Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Kenya</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Kenya</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Latvia</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Latvia</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Liechtenstein</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Lithuania</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Lithuania</th>
      <td>Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Malaysia</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Baseball/Softball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Beach Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mexico</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mongolia</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Mongolia</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Montenegro</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Montenegro</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Morocco</th>
      <td>Beach Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Athletics</td>
      <td>5</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Beach Volleyball</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Cycling Track</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Swimming</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Netherlands</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>New Zealand</th>
      <td>Cycling Track</td>
      <td>5</td>
    </tr>
    <tr>
      <th>New Zealand</th>
      <td>Football</td>
      <td>2</td>
    </tr>
    <tr>
      <th>New Zealand</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>New Zealand</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>New Zealand</th>
      <td>Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>New Zealand</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Nigeria</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Nigeria</th>
      <td>Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Norway</th>
      <td>Beach Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Norway</th>
      <td>Handball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>3x3 Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Archery</td>
      <td>3</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Artistic Gymnastics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Fencing</td>
      <td>3</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Hockey</td>
      <td>1</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Swimming</td>
      <td>6</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>People's Republic of China</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Athletics</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Cycling Track</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Fencing</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Swimming</td>
      <td>6</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Poland</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Portugal</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Puerto Rico</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Qatar</th>
      <td>Beach Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>3x3 Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Artistic Gymnastics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Beach Volleyball</td>
      <td>3</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Cycling Track</td>
      <td>3</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Fencing</td>
      <td>6</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Swimming</td>
      <td>7</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>ROC</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Archery</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Baseball/Softball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Fencing</td>
      <td>4</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Handball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Table Tennis</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Republic of Korea</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Republic of Moldova</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Romania</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Romania</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Romania</th>
      <td>Table Tennis</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Saudi Arabia</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Serbia</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Serbia</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Serbia</th>
      <td>Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Serbia</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Serbia</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Serbia</th>
      <td>Water Polo</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Singapore</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Slovakia</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Slovenia</th>
      <td>Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Slovenia</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Rugby Sevens</td>
      <td>1</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>South Africa</th>
      <td>Water Polo</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Artistic Gymnastics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Beach Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Handball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Hockey</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Spain</th>
      <td>Water Polo</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>Handball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Sweden</th>
      <td>Table Tennis</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Beach Volleyball</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Cycling Track</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Fencing</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Switzerland</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Trinidad and Tobago</th>
      <td>Athletics</td>
      <td>3</td>
    </tr>
    <tr>
      <th>Tunisia</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tunisia</th>
      <td>Fencing</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Tunisia</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Turkey</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Turkey</th>
      <td>Athletics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Turkey</th>
      <td>Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Turkey</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Archery</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Artistic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Artistic Swimming</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Athletics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Cycling Track</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Fencing</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Ukraine</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>3x3 Basketball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Archery</td>
      <td>3</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Artistic Gymnastics</td>
      <td>2</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Artistic Swimming</td>
      <td>1</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Athletics</td>
      <td>5</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Baseball/Softball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Basketball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Beach Volleyball</td>
      <td>4</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Cycling Track</td>
      <td>3</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Fencing</td>
      <td>6</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Football</td>
      <td>1</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Rugby Sevens</td>
      <td>2</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Swimming</td>
      <td>7</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Table Tennis</td>
      <td>2</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Triathlon</td>
      <td>1</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Volleyball</td>
      <td>2</td>
    </tr>
    <tr>
      <th>United States of America</th>
      <td>Water Polo</td>
      <td>2</td>
    </tr>
    <tr>
      <th>Uzbekistan</th>
      <td>Rhythmic Gymnastics</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Venezuela</th>
      <td>Volleyball</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Vietnam</th>
      <td>Archery</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Zambia</th>
      <td>Football</td>
      <td>1</td>
    </tr>
  </tbody>
</table>