<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NOC</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Japan</td>
      <td>35</td>
    </tr>
    <tr>
      <th>1</th>
      <td>United States of America</td>
      <td>28</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Spain</td>
      <td>28</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Australia</td>
      <td>22</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Canada</td>
      <td>16</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Italy</td>
      <td>14</td>
    </tr>
    <tr>
      <th>6</th>
      <td>ROC</td>
      <td>12</td>
    </tr>
    <tr>
      <th>7</th>
      <td>Egypt</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <td>South Africa</td>
      <td>12</td>
    </tr>
    <tr>
      <th>9</th>
      <td>People's Republic of China</td>
      <td>12</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Argentina</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Netherlands</td>
      <td>10</td>
    </tr>
    <tr>
      <th>12</th>
      <td>France</td>
      <td>10</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Venezuela</td>
      <td>10</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Germany</td>
      <td>9</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Nigeria</td>
      <td>9</td>
    </tr>
    <tr>
      <th>16</th>
      <td>New Zealand</td>
      <td>8</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Mexico</td>
      <td>8</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Brazil</td>
      <td>7</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Republic of Korea</td>
      <td>7</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Great Britain</td>
      <td>7</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Greece</td>
      <td>6</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Chile</td>
      <td>6</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Dominican Republic</td>
      <td>6</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Kenya</td>
      <td>5</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Serbia</td>
      <td>5</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Côte d'Ivoire</td>
      <td>5</td>
    </tr>
    <tr>
      <th>27</th>
      <td>Belgium</td>
      <td>5</td>
    </tr>
    <tr>
      <th>28</th>
      <td>India</td>
      <td>5</td>
    </tr>
    <tr>
      <th>29</th>
      <td>Hungary</td>
      <td>4</td>
    </tr>
    <tr>
      <th>30</th>
      <td>Ukraine</td>
      <td>4</td>
    </tr>
    <tr>
      <th>31</th>
      <td>Poland</td>
      <td>3</td>
    </tr>
    <tr>
      <th>32</th>
      <td>Austria</td>
      <td>3</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Ireland</td>
      <td>3</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Puerto Rico</td>
      <td>3</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Slovenia</td>
      <td>3</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Sweden</td>
      <td>3</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Norway</td>
      <td>3</td>
    </tr>
    <tr>
      <th>38</th>
      <td>Romania</td>
      <td>2</td>
    </tr>
    <tr>
      <th>39</th>
      <td>San Marino</td>
      <td>2</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Saudi Arabia</td>
      <td>2</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Zambia</td>
      <td>2</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Denmark</td>
      <td>2</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Kazakhstan</td>
      <td>2</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Israel</td>
      <td>2</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Islamic Republic of Iran</td>
      <td>2</td>
    </tr>
    <tr>
      <th>46</th>
      <td>Fiji</td>
      <td>2</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Montenegro</td>
      <td>2</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Czech Republic</td>
      <td>2</td>
    </tr>
    <tr>
      <th>49</th>
      <td>Colombia</td>
      <td>2</td>
    </tr>
    <tr>
      <th>50</th>
      <td>Tunisia</td>
      <td>1</td>
    </tr>
    <tr>
      <th>51</th>
      <td>Bahrain</td>
      <td>1</td>
    </tr>
    <tr>
      <th>52</th>
      <td>Belarus</td>
      <td>1</td>
    </tr>
    <tr>
      <th>53</th>
      <td>Cambodia</td>
      <td>1</td>
    </tr>
    <tr>
      <th>54</th>
      <td>Turkey</td>
      <td>1</td>
    </tr>
    <tr>
      <th>55</th>
      <td>Portugal</td>
      <td>1</td>
    </tr>
    <tr>
      <th>56</th>
      <td>Croatia</td>
      <td>1</td>
    </tr>
    <tr>
      <th>57</th>
      <td>Slovakia</td>
      <td>1</td>
    </tr>
    <tr>
      <th>58</th>
      <td>Honduras</td>
      <td>1</td>
    </tr>
    <tr>
      <th>59</th>
      <td>Liechtenstein</td>
      <td>1</td>
    </tr>
    <tr>
      <th>60</th>
      <td>Angola</td>
      <td>1</td>
    </tr>
  </tbody>
</table>